.todo-list {
  @apply divide-y divide-gray-200;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @apply px-6 py-4;

    &:hover {
      background-color: $background-color;
    }
  }

  &__complete-button {
    background-color: $green;
    color: white;

    @apply px-4 py-2 rounded-md;

    &:hover {
      background-color: darken($green, 10%);
    }
  }
}
